/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
body { margin: 2em; }
body, input[text], button {font-family: Cambria, Georgia; }
* { font-family: Arial; }

